<h1>Name an item to add</h1>
<%=  form_tag post_products_path do %>
<%= text_field_tag :product %>
<%= submit_tag "Add to Cart" %>
<% end %>
  <!-- <input type="text" name="name"></input> -->
  <!-- <input type="submit" value="submit"</input> -->
