<h1>Add Items to Cart!</h1>

<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>

  <input name=product>
  <input type=submit value='add to cart'>
<% end %>

<h3>Current Cart:</h3>
<ul>
  <% if session[:cart] %>
  <% session[:cart].each do |product| %>
  <li><%= product %></li>
  <% end %>
  <% end %>
</ul>
